/* Input.module.css */
.inputContainer {
  transition: all 0.2s;
  display: flex;
  align-items: center;
  padding: 8px;
  border: var(--border-element);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  background: var(--background-element);
}
.inputContainer:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
.inputContainer:focus-within {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  border: var(--border-focus);
}

.input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-family: var(--font-family-elements);
  color: black;
}
.input:focus {
  border: none;
}
.input::placeholder {
  color: #808080;
}
